.navbar {
    background-color: #F88B74 ;
}

.quem-somos {
    background-color: grey;
}

.margin {

    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros {
    background-color: khaki;

}

.bgfooter {

    background-color: antiquewhite;
}